ul.list li {
    list-style: none;
    padding: 0.75rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

ul.list li:first-child {
    padding-top: 0;
}

ul.list li label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul.list li label section {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

ul.list li label span.primary {
    font-size: 1.25rem;
}

ul.list li:has(input[type=radio]:not(:disabled)) * {
    cursor: pointer;
}

ul.list li input[type=radio] {
    appearance: none;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--gray-400);
    border-radius: 50%;
}

ul.list li input[type=radio]:checked {
    border-color: var(--green-300);
    background: var(--green-300) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1"><polyline points="0.15,0.5 0.4,0.75 0.85,0.25" style="fill:none;stroke:%23fff;stroke-linecap:round;stroke-width:0.15;"/></svg>') no-repeat 50% / 1rem;
}

ul.list li aside {
    color: #FFFFFF;
    background-color: var(--blue-300);
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.25rem 0.5rem;
    clip-path: polygon(0 0, 100% 0, calc(100% - 1rem) 50%, 100% 100%, 0 100%);
}
